In [49]:
from pprint import pprint
import pandas as pd

# Set options to display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [50]:
from mongodb_crud import MongoCRUD
import pandas as pd

uri = "mongodb+srv://mrunalmmpatil:lgOM6y88YJ9Hzky9@projects.71mo2sy.mongodb.net/?retryWrites=true&w=majority&appName=Projects"
db_name = "Medication_Management"
client = MongoCRUD(uri, db_name)

data = client.list_all_documents(collection_name="Patients")
# pprint(data)
df_P = pd.DataFrame(data)

âœ… Connected to MongoDB database: 'Medication_Management'

In [51]:
data = client.list_all_documents(collection_name="Medications")
# pprint(data)
df_M = pd.DataFrame(data)
data = client.list_all_documents(collection_name="Allergies")
# pprint(data)
df_A = pd.DataFrame(data)
data = client.list_all_documents(collection_name="Conditions")
# pprint(data)
df_C = pd.DataFrame(data)

In [52]:
df_P_imp = df_P.drop(['_id', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT',
       'PREFIX', 'FIRST', 'MIDDLE', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL',
       'FIPS', 'ZIP', 'LAT', 'LON'], axis=1 ) 


df_A_imp = df_A.drop(['_id', 'STOP', 'ENCOUNTER', 'SYSTEM', 'TYPE'], axis=1)
df_C_imp = df_C.drop(['_id', 'ENCOUNTER', 'SYSTEM' ], axis=1)

df_M_imp = df_M.drop(['_id', 'PAYER', 'ENCOUNTER'], axis = 1)

# Convert Dates to Datetime Format:

In [53]:
df_P_imp['BIRTHDATE'] = pd.to_datetime(df_P_imp['BIRTHDATE'])
df_A_imp['START'] = pd.to_datetime(df_A_imp['START'])
df_C_imp['START'] = pd.to_datetime(df_C_imp['START'])
df_M_imp['START'] = pd.to_datetime(df_M_imp['START'])
df_C_imp['STOP'] = pd.to_datetime(df_C_imp['STOP'])
df_M_imp['STOP'] = pd.to_datetime(df_M_imp['STOP'])

In [54]:
birthplace_split = df_P_imp['BIRTHPLACE'].str.rsplit(' ', n=2, expand=True)
df_P_imp['BIRTHPLACE_COUNTRY'] = birthplace_split[2]
df_P_imp.head()

,Id,BIRTHDATE,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME,BIRTHPLACE_COUNTRY
0,bad5a231-3709-952a-cf44-f8d6a52cc214,1961-11-15,white,nonhispanic,M,North Pembroke Massachusetts US,544 Morissette Esplanade Unit 30,Tisbury,Massachusetts,Dukes County,976441.28,521994.74,118047,US
1,2bd4d47d-5e00-3b67-cdd7-03f4b811b711,1962-07-02,white,nonhispanic,F,North Andover Massachusetts US,289 Powlowski Fort Apt 42,Newton,Massachusetts,Middlesex County,494686.66,9394.81,62332,US
2,74ad71cb-f64d-efce-02c9-ae3bc917c4a2,1994-07-24,white,hispanic,F,Portsmouth Saint John Parish DM,242 Jerde Street,West Brookfield,Massachusetts,Worcester County,160028.37,169911.73,95344,DM
3,8d2a62f2-d630-6288-93ee-0fea3f859560,1960-06-08,white,nonhispanic,F,Danvers Massachusetts US,691 Jacobson Quay,Stoneham,Massachusetts,Middlesex County,134469.80,1015294.53,26516,US
4,ba459391-501f-22f5-3446-7defd52e5fab,1962-09-02,white,nonhispanic,F,Winchester Massachusetts US,1061 Mayer Road,Boston,Massachusetts,Suffolk County,65678.91,47471.44,58212,US

In [55]:
df_P_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   106 non-null    object
 1   BIRTHDATE            106 non-null    datetime64[ns]
 2   RACE                 106 non-null    object
 3   ETHNICITY            106 non-null    object
 4   GENDER               106 non-null    object
 5   BIRTHPLACE           106 non-null    object
 6   ADDRESS              106 non-null    object
 7   CITY                 106 non-null    object
 8   STATE                106 non-null    object
 9   COUNTY               106 non-null    object
 10  HEALTHCARE_EXPENSES  106 non-null    float64
 11  HEALTHCARE_COVERAGE  106 non-null    float64
 12  INCOME               106 non-null    int64
 13  BIRTHPLACE_COUNTRY   106 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(1), object(10)
memory usage: 11.7+ KB

In [56]:
df_A_imp.head()

,START,PATIENT,CODE,DESCRIPTION,CATEGORY,REACTION1,DESCRIPTION1,SEVERITY1,REACTION2,DESCRIPTION2,SEVERITY2
0,2014-07-26,4569671e-ed39-055f-8e78-422b96c9896b,84489001,Mold (organism),environment,NaN,NaN,NaN,NaN,NaN,NaN
1,1962-11-22,bad5a231-3709-952a-cf44-f8d6a52cc214,264287008,Animal dander (substance),environment,878820003.0,Rhinoconjunctivitis (disorder),MODERATE,NaN,NaN,NaN
2,2010-09-11,24a8f8bc-f502-5f0e-0dd7-27d64a15ed9e,84489001,Mold (organism),environment,21626009.0,Cutaneous hypersensitivity (disorder),MILD,NaN,NaN,NaN
3,2010-09-11,24a8f8bc-f502-5f0e-0dd7-27d64a15ed9e,782576004,Tree pollen (substance),environment,NaN,NaN,NaN,NaN,NaN,NaN
4,1998-05-10,c1ce8dfc-3c0d-de97-ce0e-5dc0460da340,111088007,Latex (substance),environment,402387002.0,Allergic angioedema (disorder),MODERATE,247472004.0,Wheal (finding),MILD

In [57]:
df_A_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   START         92 non-null     datetime64[ns]
 1   PATIENT       92 non-null     object
 2   CODE          92 non-null     int64
 3   DESCRIPTION   92 non-null     object
 4   CATEGORY      92 non-null     object
 5   REACTION1     44 non-null     float64
 6   DESCRIPTION1  44 non-null     object
 7   SEVERITY1     44 non-null     object
 8   REACTION2     30 non-null     float64
 9   DESCRIPTION2  30 non-null     object
 10  SEVERITY2     30 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 8.0+ KB

In [58]:
df_C_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 0 to 3875
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START        3876 non-null   datetime64[ns]
 1   STOP         2985 non-null   datetime64[ns]
 2   PATIENT      3876 non-null   object
 3   CODE         3876 non-null   int64
 4   DESCRIPTION  3876 non-null   object
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 151.5+ KB

In [59]:
df_C_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 0 to 3875
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START        3876 non-null   datetime64[ns]
 1   STOP         2985 non-null   datetime64[ns]
 2   PATIENT      3876 non-null   object
 3   CODE         3876 non-null   int64
 4   DESCRIPTION  3876 non-null   object
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 151.5+ KB

In [60]:
df_C_imp['DESCRIPTION'] = df_C_imp['DESCRIPTION'].str.lower()
df_A_imp['DESCRIPTION'] = df_A_imp['DESCRIPTION'].str.lower()
df_A_imp['DESCRIPTION1'] = df_A_imp['DESCRIPTION1'].str.lower()
df_A_imp['DESCRIPTION2'] = df_A_imp['DESCRIPTION2'].str.lower()
df_M_imp['DESCRIPTION'] = df_M_imp['DESCRIPTION'].str.lower()
df_M_imp['REASONDESCRIPTION'] = df_M_imp['REASONDESCRIPTION'].str.lower()

In [61]:
today = pd.to_datetime("today")
df_P_imp['AGE'] = (today - df_P_imp['BIRTHDATE']).dt.days // 365

In [62]:
df_P_imp.describe()

,BIRTHDATE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME,AGE
count,106,1.060000e+02,1.060000e+02,106.000000,106.000000
mean,1984-10-06 03:23:46.415094336,2.022482e+05,2.987003e+05,106080.056604,40.018868
min,1914-03-03 00:00:00,5.275400e+02,0.000000e+00,7361.000000,2.000000
25%,1964-10-07 18:00:00,2.980308e+04,1.313933e+04,35910.250000,18.250000
50%,1984-06-11 12:00:00,9.313202e+04,1.878933e+05,76761.500000,40.500000
75%,2006-05-28 06:00:00,2.431280e+05,4.393279e+05,117661.000000,60.250000
max,2023-03-01 00:00:00,1.157947e+06,1.441489e+06,816851.000000,111.000000
std,NaN,2.631096e+05,3.428226e+05,139939.050000,24.548875

In [63]:
df_M_imp['START'] = pd.to_datetime(df_M_imp['START'])
df_M_imp['STOP'] = pd.to_datetime(df_M_imp['STOP'])
df_M_imp['DAYS_SUPPLY'] = (df_M_imp['STOP'] - df_M_imp['START']).dt.days

In [64]:
df_M_imp.head()

,START,STOP,PATIENT,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION,DAYS_SUPPLY
0,2018-04-13 01:35:34+00:00,2018-04-13 07:45:34+00:00,37c177ea-4398-fb7a-29fa-70eb3d673876,1648755,nitrofurantoin macrocrystals 25 mg / nitrofur...,129.94,76.12,1,129.94,307426000.0,acute infective cystitis (disorder),0.0
1,2018-01-11 11:07:21+00:00,2018-01-25 05:07:21+00:00,c1acd7ba-dacf-36d2-6010-db8934400000,834102,penicillin v potassium 500 mg oral tablet,67.02,0.00,1,67.02,43878008.0,streptococcal sore throat (disorder),13.0
2,2015-07-12 03:32:10+00:00,2015-07-12 03:32:10+00:00,3648fb36-1cd1-3641-0b1c-1f00d1e7e7de,1535362,sodium fluoride 0.0272 mg/mg oral gel,129.94,0.00,1,129.94,103697008.0,patient referral for dental care (procedure),0.0
3,2015-04-22 08:01:49+00:00,2015-05-08 08:01:49+00:00,50ca7edb-0dee-35e6-5d8f-66fbcb0b37c1,313782,acetaminophen 325 mg oral tablet,45.86,36.69,1,45.86,10509002.0,acute bronchitis (disorder),16.0
4,2017-02-10 02:35:17+00:00,2018-02-16 02:35:17+00:00,50ca7edb-0dee-35e6-5d8f-66fbcb0b37c1,314076,lisinopril 10 mg oral tablet,0.91,0.73,4,3.64,59621000.0,essential hypertension (disorder),371.0

In [65]:
def check_allergy_conflict(med_desc, allergies):
    return any(allergy in med_desc for allergy in allergies)

patient_allergies = df_A_imp.groupby('PATIENT')['DESCRIPTION'].apply(list).to_dict()
df_M_imp['allergy_conflict'] = df_M_imp.apply(
    lambda row: check_allergy_conflict(row['DESCRIPTION'], patient_allergies.get(row['PATIENT'], [])), axis=1
)
df_M_imp.head()

,START,STOP,PATIENT,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION,DAYS_SUPPLY,allergy_conflict
0,2018-04-13 01:35:34+00:00,2018-04-13 07:45:34+00:00,37c177ea-4398-fb7a-29fa-70eb3d673876,1648755,nitrofurantoin macrocrystals 25 mg / nitrofur...,129.94,76.12,1,129.94,307426000.0,acute infective cystitis (disorder),0.0,False
1,2018-01-11 11:07:21+00:00,2018-01-25 05:07:21+00:00,c1acd7ba-dacf-36d2-6010-db8934400000,834102,penicillin v potassium 500 mg oral tablet,67.02,0.00,1,67.02,43878008.0,streptococcal sore throat (disorder),13.0,False
2,2015-07-12 03:32:10+00:00,2015-07-12 03:32:10+00:00,3648fb36-1cd1-3641-0b1c-1f00d1e7e7de,1535362,sodium fluoride 0.0272 mg/mg oral gel,129.94,0.00,1,129.94,103697008.0,patient referral for dental care (procedure),0.0,False
3,2015-04-22 08:01:49+00:00,2015-05-08 08:01:49+00:00,50ca7edb-0dee-35e6-5d8f-66fbcb0b37c1,313782,acetaminophen 325 mg oral tablet,45.86,36.69,1,45.86,10509002.0,acute bronchitis (disorder),16.0,False
4,2017-02-10 02:35:17+00:00,2018-02-16 02:35:17+00:00,50ca7edb-0dee-35e6-5d8f-66fbcb0b37c1,314076,lisinopril 10 mg oral tablet,0.91,0.73,4,3.64,59621000.0,essential hypertension (disorder),371.0,False

In [66]:
# agg_AD = df_A_imp.groupby('PATIENT')['DESCRIPTION'].apply(lambda x: list(x.unique())).reset_index()
# agg_AD.columns = ['PATIENT', 'DESCRIPTION']

# agg_AD1 = df_A_imp.groupby('PATIENT')['DESCRIPTION1'].apply(lambda x: list(x.unique())).reset_index()
# agg_AD1.columns = ['PATIENT', 'DESCRIPTION1']

# agg_AD2 = df_A_imp.groupby('PATIENT')['DESCRIPTION2'].apply(lambda x: list(x.unique())).reset_index()
# agg_AD2.columns = ['PATIENT', 'DESCRIPTION2']


# df_A_imp['DESCRIPTION'] = agg_AD['DESCRIPTION']
# df_A_imp['DESCRIPTION1'] = agg_AD1['DESCRIPTION1']
# df_A_imp['DESCRIPTION2'] = agg_AD2['DESCRIPTION2']

# df_A_imp.head()

In [67]:
len(list(df_C_imp.PATIENT.unique()))

106

In [68]:
df_A_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   START         92 non-null     datetime64[ns]
 1   PATIENT       92 non-null     object
 2   CODE          92 non-null     int64
 3   DESCRIPTION   92 non-null     object
 4   CATEGORY      92 non-null     object
 5   REACTION1     44 non-null     float64
 6   DESCRIPTION1  44 non-null     object
 7   SEVERITY1     44 non-null     object
 8   REACTION2     30 non-null     float64
 9   DESCRIPTION2  30 non-null     object
 10  SEVERITY2     30 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 8.0+ KB

In [69]:
# Step 1: Create a copy to work safely
df_allergies_cleaned = df_A_imp.copy()

# Step 2: Aggregate
df_allergy_agg = df_allergies_cleaned.groupby('PATIENT').agg({
    'START': 'min',  # earliest allergy record
    'DESCRIPTION': lambda x: ', '.join(x.dropna().unique()),
    'DESCRIPTION1': lambda x: ', '.join(x.dropna().unique()),
    'DESCRIPTION2': lambda x: ', '.join(x.dropna().unique()),
    'SEVERITY1': lambda x: ', '.join(x.dropna().unique()),
    'SEVERITY2': lambda x: ', '.join(x.dropna().unique())
}).reset_index()

# Optional: Rename for clarity
df_allergy_agg.rename(columns={
    'START': 'ALLERGY_START_DATE',
    'DESCRIPTION': 'ALLERGIES',
    'DESCRIPTION1': 'REACTION_DESC_1',
    'DESCRIPTION2': 'REACTION_DESC_2',
    'SEVERITY1': 'SEVERITY_1',
    'SEVERITY2': 'SEVERITY_2'
}, inplace=True)

df_allergy_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PATIENT             15 non-null     object
 1   ALLERGY_START_DATE  15 non-null     datetime64[ns]
 2   ALLERGIES           15 non-null     object
 3   REACTION_DESC_1     15 non-null     object
 4   REACTION_DESC_2     15 non-null     object
 5   SEVERITY_1          15 non-null     object
 6   SEVERITY_2          15 non-null     object
dtypes: datetime64[ns](1), object(6)
memory usage: 968.0+ bytes

In [70]:
df_M_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5605 entries, 0 to 5604
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   START              5605 non-null   datetime64[ns, UTC]
 1   STOP               5360 non-null   datetime64[ns, UTC]
 2   PATIENT            5605 non-null   object
 3   CODE               5605 non-null   int64
 4   DESCRIPTION        5605 non-null   object
 5   BASE_COST          5605 non-null   float64
 6   PAYER_COVERAGE     5605 non-null   float64
 7   DISPENSES          5605 non-null   int64
 8   TOTALCOST          5605 non-null   float64
 9   REASONCODE         4334 non-null   float64
 10  REASONDESCRIPTION  4334 non-null   object
 11  DAYS_SUPPLY        5360 non-null   float64
 12  allergy_conflict   5605 non-null   bool
dtypes: bool(1), datetime64[ns, UTC](2), float64(5), int64(2), object(3)
memory usage: 531.1+ KB

In [71]:
df_med_agg = df_M_imp.groupby("PATIENT").agg({
    'START': 'min',
    'STOP': 'max',
    'DESCRIPTION': lambda x: ', '.join(x.dropna().unique()),
    'TOTALCOST': 'sum',
    'DISPENSES': 'sum',
    'REASONDESCRIPTION': lambda x: ', '.join(x.dropna().unique()),
    'DAYS_SUPPLY': 'sum',
    'allergy_conflict': 'any'
}).reset_index()

# Optional rename
df_med_agg.rename(columns={
    'START': 'MED_START_DATE',
    'STOP': 'MED_STOP_DATE',
    'DESCRIPTION': 'MEDICATIONS',
    'REASONDESCRIPTION': 'MEDICATION_REASONS',
    'DAYS_SUPPLY': 'TOTAL_DAYS_SUPPLIED',
    'allergy_conflict': 'HAS_ALLERGY_CONFLICT'
}, inplace=True)

df_med_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PATIENT               105 non-null    object
 1   MED_START_DATE        105 non-null    datetime64[ns, UTC]
 2   MED_STOP_DATE         105 non-null    datetime64[ns, UTC]
 3   MEDICATIONS           105 non-null    object
 4   TOTALCOST             105 non-null    float64
 5   DISPENSES             105 non-null    int64
 6   MEDICATION_REASONS    105 non-null    object
 7   TOTAL_DAYS_SUPPLIED   105 non-null    float64
 8   HAS_ALLERGY_CONFLICT  105 non-null    bool
dtypes: bool(1), datetime64[ns, UTC](2), float64(2), int64(1), object(3)
memory usage: 6.8+ KB

In [72]:
df_C_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 0 to 3875
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START        3876 non-null   datetime64[ns]
 1   STOP         2985 non-null   datetime64[ns]
 2   PATIENT      3876 non-null   object
 3   CODE         3876 non-null   int64
 4   DESCRIPTION  3876 non-null   object
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 151.5+ KB

In [73]:
df_cond_agg = df_C_imp.groupby("PATIENT").agg({
    'START': 'min',
    'STOP': 'max',
    'DESCRIPTION': lambda x: ', '.join(x.dropna().unique()),
    'CODE': lambda x: ', '.join(str(code) for code in x.dropna().unique()),
}).reset_index()

# Optional: count of conditions
df_cond_agg['NUM_CONDITIONS'] = df_C_imp.groupby('PATIENT')['DESCRIPTION'].count().values

# Optional rename
df_cond_agg.rename(columns={
    'START': 'COND_FIRST_DATE',
    'STOP': 'COND_LAST_DATE',
    'DESCRIPTION': 'CONDITIONS',
    'CODE': 'CONDITION_CODES'
}, inplace=True)
df_cond_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PATIENT          106 non-null    object
 1   COND_FIRST_DATE  106 non-null    datetime64[ns]
 2   COND_LAST_DATE   106 non-null    datetime64[ns]
 3   CONDITIONS       106 non-null    object
 4   CONDITION_CODES  106 non-null    object
 5   NUM_CONDITIONS   106 non-null    int64
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 5.1+ KB

In [74]:
df_merged = df_P_imp.merge(df_allergy_agg, how='left', left_on='Id', right_on='PATIENT')

# Merge with medication aggregates
df_merged = df_merged.merge(df_med_agg, how='left', left_on='Id', right_on='PATIENT', suffixes=('_allergy', '_med'))

# Merge with condition aggregates
df_merged = df_merged.merge(df_cond_agg, how='left', left_on='Id', right_on='PATIENT')

# Drop extra PATIENT columns to avoid confusion (since they are all the same after merging)
df_merged = df_merged.drop(columns=['PATIENT_allergy', 'PATIENT_med', 'PATIENT'])

# Optional: rename the main PATIENT ID column if needed
df_merged = df_merged.rename(columns={'Id': 'PATIENT_ID'})

# View the final merged dataframe
df_merged.head()

,PATIENT_ID,BIRTHDATE,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME,BIRTHPLACE_COUNTRY,AGE,ALLERGY_START_DATE,ALLERGIES,REACTION_DESC_1,REACTION_DESC_2,SEVERITY_1,SEVERITY_2,MED_START_DATE,MED_STOP_DATE,MEDICATIONS,TOTALCOST,DISPENSES,MEDICATION_REASONS,TOTAL_DAYS_SUPPLIED,HAS_ALLERGY_CONFLICT,COND_FIRST_DATE,COND_LAST_DATE,CONDITIONS,CONDITION_CODES,NUM_CONDITIONS
0,bad5a231-3709-952a-cf44-f8d6a52cc214,1961-11-15,white,nonhispanic,M,North Pembroke Massachusetts US,544 Morissette Esplanade Unit 30,Tisbury,Massachusetts,Dukes County,976441.28,521994.74,118047,US,63,1962-11-22,"animal dander (substance), house dust mite (or...","rhinoconjunctivitis (disorder), dyspnea (findi...","finding of vomiting (finding), wheal (finding)...","MODERATE, SEVERE","MILD, MODERATE",1967-10-25 04:54:35+00:00,2024-10-16 04:54:35+00:00,budesonide 0.125 mg/ml inhalation suspension [...,473138.31,4148.0,"childhood asthma (disorder), essential hyperte...",33020.0,False,1979-01-03,2024-10-09,"educated to high school level (finding), medic...","473461003, 314529007, 80583007, 68496003, 1609...",241
1,2bd4d47d-5e00-3b67-cdd7-03f4b811b711,1962-07-02,white,nonhispanic,F,North Andover Massachusetts US,289 Powlowski Fort Apt 42,Newton,Massachusetts,Middlesex County,494686.66,9394.81,62332,US,62,NaT,NaN,NaN,NaN,NaN,NaN,1988-09-05 06:11:06+00:00,2024-09-30 07:38:18+00:00,acetaminophen 300 mg / codeine phosphate 15 mg...,5179.52,480.0,"patient referral for dental care (procedure), ...",3731.0,False,1980-08-25,2024-09-16,"prediabetes (finding), stress (finding), medic...","714628002, 73595000, 314529007, 160903007, 400...",35
2,74ad71cb-f64d-efce-02c9-ae3bc917c4a2,1994-07-24,white,hispanic,F,Portsmouth Saint John Parish DM,242 Jerde Street,West Brookfield,Massachusetts,Worcester County,160028.37,169911.73,95344,DM,30,NaT,NaN,NaN,NaN,NaN,NaN,2011-04-27 00:53:33+00:00,2021-07-14 22:05:53+00:00,"sodium fluoride 0.0272 mg/mg oral gel, seasoni...",21401.38,338.0,"gingivitis (disorder), patient referral for de...",1448.0,False,2011-11-07,2021-02-08,"stress (finding), acute viral pharyngitis (dis...","73595000, 195662009, 6525002, 55680006, 423315...",33
3,8d2a62f2-d630-6288-93ee-0fea3f859560,1960-06-08,white,nonhispanic,F,Danvers Massachusetts US,691 Jacobson Quay,Stoneham,Massachusetts,Middlesex County,134469.80,1015294.53,26516,US,64,NaT,NaN,NaN,NaN,NaN,NaN,1979-07-25 21:59:03+00:00,2024-10-09 21:59:03+00:00,"lisinopril 10 mg oral tablet, amlodipine 2.5 m...",345.76,94.0,"essential hypertension (disorder), gingivitis ...",7420.0,False,1975-07-16,2024-10-24,"serving in military service (finding), full-ti...","1187604002, 160903007, 423315002, 73595000, 16...",43
4,ba459391-501f-22f5-3446-7defd52e5fab,1962-09-02,white,nonhispanic,F,Winchester Massachusetts US,1061 Mayer Road,Boston,Massachusetts,Suffolk County,65678.91,47471.44,58212,US,62,NaT,NaN,NaN,NaN,NaN,NaN,1963-05-30 13:37:48+00:00,1971-11-18 15:37:48+00:00,"sodium fluoride 0.0272 mg/mg oral gel, 100 ml ...",9623.09,19.0,"patient referral for dental care (procedure), ...",82.0,False,1962-09-02,1971-11-18,"medication review due (situation), viral sinus...","314529007, 444814009, 18718003, 65363002, 2548...",17

In [75]:
df_merged.iloc[0]

PATIENT_ID                           bad5a231-3709-952a-cf44-f8d6a52cc214
BIRTHDATE                                             1961-11-15 00:00:00
RACE                                                                white
ETHNICITY                                                     nonhispanic
GENDER                                                                  M
BIRTHPLACE                              North Pembroke  Massachusetts  US
ADDRESS                                  544 Morissette Esplanade Unit 30
CITY                                                              Tisbury
STATE                                                       Massachusetts
COUNTY                                                       Dukes County
HEALTHCARE_EXPENSES                                             976441.28
HEALTHCARE_COVERAGE                                             521994.74
INCOME                                                             118047
BIRTHPLACE_COUNTRY                                                     US
AGE                                                                    63
ALLERGY_START_DATE                                    1962-11-22 00:00:00
ALLERGIES               animal dander (substance), house dust mite (or...
REACTION_DESC_1         rhinoconjunctivitis (disorder), dyspnea (findi...
REACTION_DESC_2         finding of vomiting (finding), wheal (finding)...
SEVERITY_1                                               MODERATE, SEVERE
SEVERITY_2                                                 MILD, MODERATE
MED_START_DATE                                  1967-10-25 04:54:35+00:00
MED_STOP_DATE                                   2024-10-16 04:54:35+00:00
MEDICATIONS             budesonide 0.125 mg/ml inhalation suspension [...
TOTALCOST                                                       473138.31
DISPENSES                                                          4148.0
MEDICATION_REASONS      childhood asthma (disorder), essential hyperte...
TOTAL_DAYS_SUPPLIED                                               33020.0
HAS_ALLERGY_CONFLICT                                                False
COND_FIRST_DATE                                       1979-01-03 00:00:00
COND_LAST_DATE                                        2024-10-09 00:00:00
CONDITIONS              educated to high school level (finding), medic...
CONDITION_CODES         473461003, 314529007, 80583007, 68496003, 1609...
NUM_CONDITIONS                                                        241
Name: 0, dtype: object

In [76]:
# df_P_imp, df_A_imp, df_M_imp, df_C_imp, df_merged

In [77]:
from mongodb_crud import MongoCRUD
client = MongoCRUD(uri=uri,db_name=db_name)
client.create_mongo_collection("Patients_transformed")
client.create_mongo_collection("Allergies_transformed")
client.create_mongo_collection("Conditions_transformed")
client.create_mongo_collection("Medications_transformed")
client.create_mongo_collection("Merged_PACM")

âœ… Connected to MongoDB database: 'Medication_Management'
Collection 'Patients_transformed' already exists.
Collection 'Allergies_transformed' already exists.
Collection 'Conditions_transformed' already exists.
Collection 'Medications_transformed' already exists.
Collection 'Merged_PACM' already exists.

Collection(Database(MongoClient(host=['ac-anfs6gn-shard-00-00.71mo2sy.mongodb.net:27017', 'ac-anfs6gn-shard-00-02.71mo2sy.mongodb.net:27017', 'ac-anfs6gn-shard-00-01.71mo2sy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Projects', authsource='admin', replicaset='atlas-xgg8e4-shard-0', tls=True), 'Medication_Management'), 'Merged_PACM')

In [78]:
# Replace NaT with None in all datetime columns
df_merged = df_merged.where(pd.notnull(df_merged), None)
datetime_cols = ['START', 'STOP']  # add more if needed
for col in datetime_cols:
    if col in df_merged.columns:
        df_merged[col] = df_merged[col].apply(lambda x: x if pd.notnull(x) else None)

In [79]:
import pandas as pd

def clean_datetime_for_mongo(df):
    for col in df.columns:
        if pd.api.types.is_datetime64_any_dtype(df[col]):
            # Convert timezone-aware to naive
            if df[col].dt.tz:
                df[col] = df[col].dt.tz_localize(None)
            # Replace NaT with None
            df[col] = df[col].apply(lambda x: x if pd.notnull(x) else None)
    return df

In [80]:
df_cleaned = clean_datetime_for_mongo(df_merged)
df_cleaned['BIRTHDATE'] = df_cleaned['BIRTHDATE'].astype(str)
df_cleaned['ALLERGY_START_DATE'] = df_cleaned['ALLERGY_START_DATE'].astype(str)
df_cleaned['MED_START_DATE'] = df_cleaned['MED_START_DATE'].astype(str)
df_cleaned['MED_STOP_DATE'] = df_cleaned['MED_STOP_DATE'].astype(str)
df_cleaned['COND_FIRST_DATE'] = df_cleaned['COND_FIRST_DATE'].astype(str)
df_cleaned['COND_LAST_DATE'] = df_cleaned['COND_LAST_DATE'].astype(str)

In [81]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PATIENT_ID            106 non-null    object
 1   BIRTHDATE             106 non-null    object
 2   RACE                  106 non-null    object
 3   ETHNICITY             106 non-null    object
 4   GENDER                106 non-null    object
 5   BIRTHPLACE            106 non-null    object
 6   ADDRESS               106 non-null    object
 7   CITY                  106 non-null    object
 8   STATE                 106 non-null    object
 9   COUNTY                106 non-null    object
 10  HEALTHCARE_EXPENSES   106 non-null    float64
 11  HEALTHCARE_COVERAGE   106 non-null    float64
 12  INCOME                106 non-null    int64
 13  BIRTHPLACE_COUNTRY    106 non-null    object
 14  AGE                   106 non-null    int64
 15  ALLERGY_START_DATE    106 non-null    object
 16  ALLERGIES             15 non-null     object
 17  REACTION_DESC_1       15 non-null     object
 18  REACTION_DESC_2       15 non-null     object
 19  SEVERITY_1            15 non-null     object
 20  SEVERITY_2            15 non-null     object
 21  MED_START_DATE        106 non-null    object
 22  MED_STOP_DATE         106 non-null    object
 23  MEDICATIONS           105 non-null    object
 24  TOTALCOST             105 non-null    float64
 25  DISPENSES             105 non-null    float64
 26  MEDICATION_REASONS    105 non-null    object
 27  TOTAL_DAYS_SUPPLIED   105 non-null    float64
 28  HAS_ALLERGY_CONFLICT  105 non-null    object
 29  COND_FIRST_DATE       106 non-null    object
 30  COND_LAST_DATE        106 non-null    object
 31  CONDITIONS            106 non-null    object
 32  CONDITION_CODES       106 non-null    object
 33  NUM_CONDITIONS        106 non-null    int64
dtypes: float64(5), int64(3), object(26)
memory usage: 28.3+ KB

In [82]:
data = df_cleaned.to_dict(orient='records')
client.insert_documents("Merged_PACM",data)

Inserted 106 documents.

[ObjectId('67f9e4cb1b65f2bd981ee3c2'),
 ObjectId('67f9e4cb1b65f2bd981ee3c3'),
 ObjectId('67f9e4cb1b65f2bd981ee3c4'),
 ObjectId('67f9e4cb1b65f2bd981ee3c5'),
 ObjectId('67f9e4cb1b65f2bd981ee3c6'),
 ObjectId('67f9e4cb1b65f2bd981ee3c7'),
 ObjectId('67f9e4cb1b65f2bd981ee3c8'),
 ObjectId('67f9e4cb1b65f2bd981ee3c9'),
 ObjectId('67f9e4cb1b65f2bd981ee3ca'),
 ObjectId('67f9e4cb1b65f2bd981ee3cb'),
 ObjectId('67f9e4cb1b65f2bd981ee3cc'),
 ObjectId('67f9e4cb1b65f2bd981ee3cd'),
 ObjectId('67f9e4cb1b65f2bd981ee3ce'),
 ObjectId('67f9e4cb1b65f2bd981ee3cf'),
 ObjectId('67f9e4cb1b65f2bd981ee3d0'),
 ObjectId('67f9e4cb1b65f2bd981ee3d1'),
 ObjectId('67f9e4cb1b65f2bd981ee3d2'),
 ObjectId('67f9e4cb1b65f2bd981ee3d3'),
 ObjectId('67f9e4cb1b65f2bd981ee3d4'),
 ObjectId('67f9e4cb1b65f2bd981ee3d5'),
 ObjectId('67f9e4cb1b65f2bd981ee3d6'),
 ObjectId('67f9e4cb1b65f2bd981ee3d7'),
 ObjectId('67f9e4cb1b65f2bd981ee3d8'),
 ObjectId('67f9e4cb1b65f2bd981ee3d9'),
 ObjectId('67f9e4cb1b65f2bd981ee3da'),
 ObjectId('67f9e4cb1b65f2bd981ee3db'),
 ObjectId('67f9e4cb1b65f2bd981ee3dc'),
 ObjectId('67f9e4cb1b65f2bd981ee3dd'),
 ObjectId('67f9e4cb1b65f2bd981ee3de'),
 ObjectId('67f9e4cb1b65f2bd981ee3df'),
 ObjectId('67f9e4cb1b65f2bd981ee3e0'),
 ObjectId('67f9e4cb1b65f2bd981ee3e1'),
 ObjectId('67f9e4cb1b65f2bd981ee3e2'),
 ObjectId('67f9e4cb1b65f2bd981ee3e3'),
 ObjectId('67f9e4cb1b65f2bd981ee3e4'),
 ObjectId('67f9e4cb1b65f2bd981ee3e5'),
 ObjectId('67f9e4cb1b65f2bd981ee3e6'),
 ObjectId('67f9e4cb1b65f2bd981ee3e7'),
 ObjectId('67f9e4cb1b65f2bd981ee3e8'),
 ObjectId('67f9e4cb1b65f2bd981ee3e9'),
 ObjectId('67f9e4cb1b65f2bd981ee3ea'),
 ObjectId('67f9e4cb1b65f2bd981ee3eb'),
 ObjectId('67f9e4cb1b65f2bd981ee3ec'),
 ObjectId('67f9e4cb1b65f2bd981ee3ed'),
 ObjectId('67f9e4cb1b65f2bd981ee3ee'),
 ObjectId('67f9e4cb1b65f2bd981ee3ef'),
 ObjectId('67f9e4cb1b65f2bd981ee3f0'),
 ObjectId('67f9e4cb1b65f2bd981ee3f1'),
 ObjectId('67f9e4cb1b65f2bd981ee3f2'),
 ObjectId('67f9e4cb1b65f2bd981ee3f3'),
 ObjectId('67f9e4cb1b65f2bd981ee3f4'),
 ObjectId('67f9e4cb1b65f2bd981ee3f5'),
 ObjectId('67f9e4cb1b65f2bd981ee3f6'),
 ObjectId('67f9e4cb1b65f2bd981ee3f7'),
 ObjectId('67f9e4cb1b65f2bd981ee3f8'),
 ObjectId('67f9e4cb1b65f2bd981ee3f9'),
 ObjectId('67f9e4cb1b65f2bd981ee3fa'),
 ObjectId('67f9e4cb1b65f2bd981ee3fb'),
 ObjectId('67f9e4cb1b65f2bd981ee3fc'),
 ObjectId('67f9e4cb1b65f2bd981ee3fd'),
 ObjectId('67f9e4cb1b65f2bd981ee3fe'),
 ObjectId('67f9e4cb1b65f2bd981ee3ff'),
 ObjectId('67f9e4cb1b65f2bd981ee400'),
 ObjectId('67f9e4cb1b65f2bd981ee401'),
 ObjectId('67f9e4cb1b65f2bd981ee402'),
 ObjectId('67f9e4cb1b65f2bd981ee403'),
 ObjectId('67f9e4cb1b65f2bd981ee404'),
 ObjectId('67f9e4cb1b65f2bd981ee405'),
 ObjectId('67f9e4cb1b65f2bd981ee406'),
 ObjectId('67f9e4cb1b65f2bd981ee407'),
 ObjectId('67f9e4cb1b65f2bd981ee408'),
 ObjectId('67f9e4cb1b65f2bd981ee409'),
 ObjectId('67f9e4cb1b65f2bd981ee40a'),
 ObjectId('67f9e4cb1b65f2bd981ee40b'),
 ObjectId('67f9e4cb1b65f2bd981ee40c'),
 ObjectId('67f9e4cb1b65f2bd981ee40d'),
 ObjectId('67f9e4cb1b65f2bd981ee40e'),
 ObjectId('67f9e4cb1b65f2bd981ee40f'),
 ObjectId('67f9e4cb1b65f2bd981ee410'),
 ObjectId('67f9e4cb1b65f2bd981ee411'),
 ObjectId('67f9e4cb1b65f2bd981ee412'),
 ObjectId('67f9e4cb1b65f2bd981ee413'),
 ObjectId('67f9e4cb1b65f2bd981ee414'),
 ObjectId('67f9e4cb1b65f2bd981ee415'),
 ObjectId('67f9e4cb1b65f2bd981ee416'),
 ObjectId('67f9e4cb1b65f2bd981ee417'),
 ObjectId('67f9e4cb1b65f2bd981ee418'),
 ObjectId('67f9e4cb1b65f2bd981ee419'),
 ObjectId('67f9e4cb1b65f2bd981ee41a'),
 ObjectId('67f9e4cb1b65f2bd981ee41b'),
 ObjectId('67f9e4cb1b65f2bd981ee41c'),
 ObjectId('67f9e4cb1b65f2bd981ee41d'),
 ObjectId('67f9e4cb1b65f2bd981ee41e'),
 ObjectId('67f9e4cb1b65f2bd981ee41f'),
 ObjectId('67f9e4cb1b65f2bd981ee420'),
 ObjectId('67f9e4cb1b65f2bd981ee421'),
 ObjectId('67f9e4cb1b65f2bd981ee422'),
 ObjectId('67f9e4cb1b65f2bd981ee423'),
 ObjectId('67f9e4cb1b65f2bd981ee424'),
 ObjectId('67f9e4cb1b65f2bd981ee425'),
 ObjectId('67f9e4cb1b65f2bd981ee426'),
 ObjectId('67f9e4cb1b65f2bd981ee427'),
 ObjectId('67f9e4cb1b65f2bd981ee428'),
 ObjectId('67f9e4cb1b65f2bd981ee429'),
 ObjectId('67f9e4cb1b65f2bd981ee42a'),
 ObjectId('67f9e4cb1b65f2bd981ee42b')]

In [83]:
# df_cleaned = clean_datetime_for_mongo(df_A_imp)
# print(df_A_imp.info())
# df_cleaned['START'] =   df_cleaned['START'].astype(str)
# data = df_cleaned.to_dict(orient='records')
# client.insert_documents("Allergies_transformed",data)

In [84]:
# df_cleaned = clean_datetime_for_mongo(df_C_imp)
# print(df_C_imp.info())
# df_cleaned['START'] =   df_cleaned['START'].astype(str)
# df_cleaned['STOP'] =   df_cleaned['STOP'].astype(str)

# data = df_cleaned.to_dict(orient='records')
# client.insert_documents("Conditions_transformed",data)

In [85]:
# df_cleaned = clean_datetime_for_mongo(df_P_imp)
# print(df_P_imp.info())
# df_cleaned['BIRTHDATE'] =   df_cleaned['BIRTHDATE'].astype(str)

# data = df_cleaned.to_dict(orient='records')
# client.insert_documents("Conditions_transformed",data)

In [86]:
# df_cleaned = clean_datetime_for_mongo(df_M_imp)
# print(df_M_imp.info())
# df_cleaned['START'] =   df_cleaned['START'].astype(str)
# df_cleaned['STOP'] =   df_cleaned['STOP'].astype(str)

# data = df_cleaned.to_dict(orient='records')
# client.insert_documents("Conditions_transformed",data)

# Get CSV

In [93]:
df_A_imp['START'] =   df_A_imp['START'].astype(str)
df_C_imp['START'] =   df_C_imp['START'].astype(str)
df_C_imp['STOP'] =   df_C_imp['STOP'].astype(str)
df_P_imp['BIRTHDATE'] =   df_P_imp['BIRTHDATE'].astype(str)
df_M_imp['START'] =   df_M_imp['START'].astype(str)
df_M_imp['STOP'] =   df_M_imp['STOP'].astype(str)

In [94]:
df_M_imp.to_excel("Medications_transformed.xlsx")
df_P_imp.to_excel("Patients_transformed.xlsx")
df_A_imp.to_excel("Allergies_transformed.xlsx")
df_C_imp.to_excel("Conditions_transformed.xlsx")

In [91]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 250 kB 8.4 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the '/Users/mrunalpatil/Desktop/MrunalPatil/Study/Project /7th April 2025/Medication Management/medical_en/bin/python3 -m pip install --upgrade pip' command.